.successicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 15em;
  margin-bottom: 10em;
}

.splash {
  padding-top: 650px;
  width: inherit;
  height: inherit;
}

.card {
  background-color: #0193FD;
color: white;
position: flex;
width: 50%;
padding: 60px;
margin-left: auto;
margin-right: auto;
}

.card-title {
  font-size: xxx-large;
}
.card-body {
  text-align: center;
font-size: xx-large;
}

.row {
  padding: 100px;
  margin-left: 100px;
  margin-right: 110px;
}
.btn-block {
  background-color: #0193FD;
}

.direct {
  color: white;
}