.successicon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 15em;
  margin-bottom: 10em;
}

.splash {
  margin-top: 530px;
  width: inherit;
  height: inherit;
}

.card-title {
  text-decoration: none;
}
.cardNote {
  border-radius: 30px;
  background-color: #0193FD;
color: white;
position: flex;
width: 50%;
padding: 60px;
margin-left: auto;
margin-right: auto;
}

.body {
  text-align: center;
font-size: xx-large;
}

.direct {
  color: white;
}

.custom {
  margin-top: 100px;
}

.btn-lg {
	background-color: #0193fd;
	color: white;
  display: inline-block;
  vertical-align: top;
  margin: 10px 100px 70px 100px;
  padding: 10px 20px;
  width: 250px;
}