
.navbar-container {
    margin: auto;
}

.property-image {
    position: relative;
    width: 80%;
    aspect-ratio: 16 / 9;
    margin: 5em auto 1em auto;
}

.property-image > img {
    position: absolute;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.image-nav {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: 1em;
    gap: 0.7em;
}

.image-nav > div {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #c4c4c4b8;
}

.image-nav > .active-image-nav {
    background-color: hsl(0, 0%, 85%);
}

.heart-icon {
    display: flex;
    margin-left: 10%;
    width: 93px;
    height: 91px;
    filter: drop-shadow(0px 3.03118px 3.03118px rgba(0, 0, 0, 0.25));
    margin-bottom: -50px;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.tiny-images-container {
    display: flex;
    justify-content:center;
    gap: 30px;
}

.photo-container > img {
    width: 5em;
    aspect-ratio: 1 / 1;
    border-top-right-radius: 1em;
    object-fit: cover;
}

.help-button {
    position: absolute;
    width: 118px;
    height: 118px;
    right: 22px;
    top: 94%;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    z-index: 1;
}

.property-information-container {
    width: 80%;
    background: #FFFFFF;
    border-radius: 15px;
    margin: 3em auto 4em auto;
    padding: 2em 0em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.information-top {
    display: flex;
    justify-content: space-around;
}

.information-top .price {
    font-weight: bold;
    font-size: 2.1em;
}

.information-top .address {
    font-weight: bold;
}

.information-bottom {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.bedrooms {
    display: flex;
    height: 25px;
    width: 25px;
    left: 0px;
    top: 0px;
    border-radius: 15px;
}

.bathrooms{
    display: flex;
    height: 25px;
    width: 25px;
    left: 0px;
    top: 0px;
}

.sun {
    display: flex;
    height: 25px;
    width: 25px;
    left: 0px;
    top: 0px;
}

.garage {
    display: flex;
    height: 25px;
    width: 25px;
    left: 0px;
    top: 0px;
}

.calendar {
    display: flex;
    height: 25px;
    width: 25px;
    left: 0px;
    top: 0px;
}

.info-number {
    margin-left: 20px;
    margin-top: 2px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.42717939615249634px;
    text-align: left; 
}

.tour-dropdown, .agent-dropdown{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-layout {
    display: flex;
    justify-content: center;
    gap: 140px;
}
.tour-button, .agent-button, .lender-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    width: 301px;
    height: 70px;
    background-color: #0193FD;
    padding: 10px;
    color: white;
    border: 3px solid #3F51F4;
    border-radius: 18px;
    cursor: pointer;
}

.tour-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    width: 341px;
    height: 527.74px;
    background: #FFFFFF;
    border: 4px solid #0193FD;
    box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
    border-radius: 25px;
    z-index: 1;
}
.tour-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0193FD;
    height: 71px;
    margin-top: 20px;

    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.376923px;

    color: #000000;
}

.top-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    margin-bottom: 30px;
}

.tour-time, .tour-date{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tour-date{
    gap:30px
}

.appointment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 189px;
    height: 48px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}

.bottom-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.376923px;
    color: #000000;
}

.tour-name, .tour-email {
    margin: auto;
    width: 282px;
    height: 48px;
    left: 33px;
    top: 278px;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
}

.label {
    display: flex;
    justify-content: baseline;
    margin-left: 26.5px;
    margin-bottom: -5px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.376923px;

    color: #000000;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .popup-inner {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 400px;
    z-index: 1;
  }
  
.close-btn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.5rem;
  }

.agent-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    width: 341px;
    height: 527.74px;
    background: #FFFFFF;
    border: 4px solid #0193FD;
    box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
    border-radius: 25px;
    z-index: 1;
}


.agent-header { 
    display: flex;
    justify-content: center;
    height: 71px;
    margin-top: 20px;
    gap: 20px;
    background: #0193FD;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.376923px;
    color: #000000;

}

.agent-avatar {
    display: flex;
    align-self: center;
    height: 56px;
    width: 63px;
}

.agent-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.agent-name {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
}

.profile {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

.agent-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-name, .user-phone, .user-email {
    margin: auto;
    padding-left: 20px;
    width: 300.4px;
    height: 60.89px;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;

    border: 1px solid #C4C4C4;
    border-radius: 10px;
}

.user-message {
    margin: auto;
    padding-left: 20px;
    padding-top: 20px;
    height: 101px;
    width: 324.4px;    
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
}

.agent-button-menu, .tour-button-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    margin-top: -10px;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    width: 301px;
    height: 70px;
    background-color: #0193FD;
    padding: 10px;
    color: white;
    border-radius: 18px;
    cursor: pointer;
}

.half-circle {
    position: absolute;
    width: 92px;
    height: 92px;
    left: 0px;
    top: 1540px;
}

.description-lenders-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: auto;
    margin-top: 50px;
}

.description-column {
    display: flex;
    flex-direction: column;
    justify-content:space-between
}

.description-container {
    display: flex;
    flex-direction: column;
    width: 607px;
    height: 374px;
    left: 85px;
    top: calc(50% - 374px/2 - 387.5px);

    background: #FFFFFF;
    border: 3px solid #0193FD;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.description-header {
    margin-top: 40px;
    margin-left: 23px;
    width: 268.87px;
    height: 32.86px;
    left: 110.8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.427179px;

    color: #000000;
}

.description-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 554.6px;
    height: 270.87px;
    left: 107px;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.6;
}

.buy-button{
    width: 100%;
    margin-top: 1em;
    padding: 0.8em 2em;

    background: #F4A523;
    border-radius: 18px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.427179px;

    color: #000000;
    cursor: pointer;
}

.best-lenders-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    /* identical to box height */

    letter-spacing: -0.427179px;

    color: #FFFFFF;
    width: 566px;
    height: 444px;
    background: #0193FD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 15px solid rgba(91, 187, 255, 0.753);;
    border-radius: 19px;
}

.best-lenders-header{
    margin-bottom: 20px;
    width: 308px;
    height: 49px;
    right: 203px;
    top: 1312px;

    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.georgia-bank{ 
    width: 268px;
    height: 77px;
    right: 223px;
    top: 1401px;

    background: #FFFFFF;
    border: 2px;
    box-sizing: border-box;
    border-radius: 11px;
    margin-bottom: -30px;
}

.tbc-bank{
    width: 268px;
    height: 75px;
    right: 223px;
    top: 1552px;

    background: #FFFFFF;
    border: 2px solid #1B6499;
    box-sizing: border-box;
    border-radius: 11px;
    margin-bottom: -30px;
}

.payment-calculator-container {
    margin: 2.5em auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 90%;
    height: 400px;
    background: #FFFFFF;
    border: 1px solid #A4D7FC;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.payment-calculator-header {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 337.13px;
    height: 30.36px;
    left: calc(50% - 337.13px/2 - 416.6px);
    top: calc(50% - 30.36px/2 - 14.86px);

    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.427179px;

    color: #000000;
}
.amount-per-month {
    display:flex;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.427179px;
    
    color: #000000;
}

.cost-breakdown-colors {
    display:flex;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}

.first-line {
    width: 1198.85px;
    height: 0px;
    border: 5px solid #59E0D0;
}

.second-line {
    width: 433.88px;
    height: 0px;
    border: 5px solid #77A2D0;
}

.third-line {
    width: 110.36px;
    height: 0px;
    border: 5px solid #FADD77;
}

.colors-legend{
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    gap: 400px;
    /* identical to box height */
    color: #000000;
}

.color-left{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.tourquoise-ellipse, .blue-ellipse, .yellow-ellipse {
    margin-right: 30px;
}

.amount-details {
    display: flex;
    width: 90%;
    margin: 0em auto; 
 
    background: #FFFFFF;
    border: 1px solid rgba(168, 168, 168, 0.44);
    box-sizing: border-box;
    border-radius: 10px;
}

.down-payment-dropdown, .home-price, .loan-details  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    border-right: 1px solid #000000;
    
}

.down-payment-dropdown:hover{
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    
}

.down-payment-button, .home-price-header, .loan-details-header {
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

.down-payment-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;

}

.down-payment-amount, .home-price-amount, .loan-details-amount {
    margin-top: 10px;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;

    color: #000000;
}

.extra {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 5px;
    width: 320.5px;
    height: 78.35px;
}
.gray-ellipse {
    margin-top: 10%;
    width: 16.63px;
    height: 10.77px;
}

.down-payment-menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 487px;
    height: 580px;
    margin-left: 19%;
    margin-bottom: 30px;
    background: #FFFFFF;
    border: 3px solid #F4A523;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    z-index: 1;
}

.down-payment-calculator-header {
    display: flex;
    justify-content: space-between;
    margin-left: 34px;
    margin-right: 34px;
    align-items: center;
}
.down-payment-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: -0.427179px;
    color: #000000; 
}

.close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2.5rem;
}

.down-payment-sub-title {
    display: flex;
    height: 22px;
    margin-left: 34px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -1.25641px;
    color: #000000;
}

.info-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

.amounts {
    width: 419px;
    height: 43px;
    left: 34px;
    top: 112px;
    margin-left: 34px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.loan-amount-money {

    width: 300px;
    height: 43px;
    left: 34px;
    top: 112px;
    padding-left: 50px;
    background: #FFFFFF;
    border: 1px solid #CECCCC;
    box-sizing: border-box;
}
.loan-amount-percent {
    padding-left: 30px;
    width: 119px;
    height: 43px;
    left: 34px;
    top: 112px;
    background: #FFFFFF;
    border: 1px solid #CECCCC;
    box-sizing: border-box;
}

.slider{
    margin-left: 34px;
}


.buy-now-title {
    width: 139px;
    height: 23px;
    margin-left: 34px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -1.25641px;
    color: #000000;
}

.buy-now-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 34px;
    width: 418px;
    height: 39px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    letter-spacing: -1.25641px;
    
    color: #FFFFFF;
    background: #F4A523;
    border: 1px solid #E2E2E2;
    box-sizing: border-box;
    border-radius: 15px;
    cursor: pointer;
}

.amount-breakdown {
    border-bottom: 1px solid #C4C4C4;
}

.cash-container, .initial-down-container, .total-down-container {
    display: flex;
    justify-content: space-between;
    margin-left: 34px;
    margin-right: 34px;
}

.total-down-container {
    border-top: 1px solid #C4C4C4;
}

.total-cash-text, .initial-down-text, .total-down-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -1.25641px;
    color: #000000;
}

.total-cash-number, .initial-down-number {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    letter-spacing: -1.25641px;
    color: #000000;
}

.total-down-number {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: -1.25641px;

    color: #000000;
}

.down-payment-footer {
    display: flex;
    justify-content: space-around;
    height: 51px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.427179px;
    color: #000000;
}
.down-payment-text {
    height: 51px;
    width: 220px;
    left: 35px;
    top: 517px;
}

.learn-more-link{
    color: #1a01fd;
}
.map{
    margin: auto;
    Width: 90%;
    Height: 400px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    overflow: visible;

}


.image {
    margin-top: 3%;   
    margin-left: -100px;
    position: absolute;
    width: 100px;
    height: 100px;
}
.pop-up {
    display: none;
    background: (0,0,0, .7);
    z-index: 1;
   
}

.similar-listings{
    display: flex;
    justify-content: flex-start;
	margin: 3em 5% 5em 5%;
    padding: 0.5em;
    overflow-x: scroll;
    gap: 2em;
}

.similar-listings-header {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    align-items:baseline;
    font-weight: bold;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: -1.25641px;

    color: #000000;
}