.contentContainer {
  padding: 3em 1.5em 1.5em 1.5em;
}

.authEmail {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 8px;
}

.authPassword, .authConfirmPassword {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.newAccountSignInButton {
    margin-top: 2em;
    margin-bottom: 2em;
}

.terms {
    text-align: center;
    color: #7B6F6F;
    font-size: 18px;
}

.hrLineTwo {
    width: 100%;
    height: 2px;
    background-color:#000000;
    border: none;
    margin-top: 2em;
}

.authSocialText {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

.authPasswordRequirements {
    margin-top: 16px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7B6F6F;
}

.registerPassword4Container {
    display: flex;
}

.registerPassword4Box { 
    width: 16px;
    height: 16px;
    background: #C4C4C4;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    margin-right: 8px;
}

.termsOfUse {
    text-decoration: none;
    color: #3F51F4;
}

.Warning-Text{
    color: red;
    font-size: x-small;
    margin-left: 5em;
    
}