.accountPageContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em 2em 2em;
}

.welcomeTitle {
    text-align: center;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 62px;
    margin-bottom: 10px;
}

.hrLineOne {
    width: 95%;
    height: 2px;
    background-color:#000000;
    border: none;
}

.accountHighlight {
    width: 32%;
    height: 8px;
    background-color:rgba(244, 165, 35, 0.6);
    border: none;
    border-radius: 15px;
    margin-bottom: 2px;
    margin-left: 24.5%;
}

.topTab {
  height: 100%;
  width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.topTabTextContainer {
    display: flex;
    flex-direction: row;
}

.topTabText {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 47px;

    color: #000000;
}

#signInText {
    margin-right: 40px;
}

.contentContainer {
  padding: 3em 2em 2em 2em;
}

.authEmail {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 8px;
}

.authPassword, .authConfirmPassword {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.newAccountSignInButton {
    margin-top: 30px;
}

.terms {
    text-align: center;
    margin-top: 32px;
    color: #7B6F6F;
    font-size: 18px;
}

.hrLineTwo {
    width: 100%;
    height: 2px;
    background-color:#000000;
    border: none;
    margin-top: 28px;
}

.authSocialText {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.authPasswordRequirements {
    margin-top: 16px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #7B6F6F;
}

.registerPassword4Container {
    display: flex;
}

.registerPassword4Box { 
    width: 16px;
    height: 16px;
    background: #C4C4C4;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    margin-right: 8px;
}

.termsOfUse {
    text-decoration: none;
    color: #3F51F4;
}