:root {
  --primary: #F4A523;
  --text: white;
  --transparent: rgba(0,0,0,0);
  --border: 20px;
  --shadow: rgba(0, 0, 0, 0.5);
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  padding: 8px 20px;
  outline: none;
  border: none;
  box-sizing: border-box;
  border-radius: var(--border);
  cursor: pointer;

  box-shadow: 0px 4px 4px var(--shadow);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0em;
  color: var(--text);
}

.btn--primary {
  background-color: var(--primary);
  border: 2px solid var(--primary);
}

.btn--dropdown {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  margin-right: 100px;
}

.btn--small {
  padding: 6px 16px;
  font-size: 18px;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 10px 24px;
  font-size: 22px;
}

.btn--small:hover,
.btn--large:hover,
.btn--medium:hover {
  transition: all 0.3s ease-out;
  background: var(--transparent);
  transition: 250ms;
}