.Title-card{
    background-color: rgba(1, 147, 253, 1)
    ;
    width: 60em;
    height: 5em;
    border-radius: 1em;
}

.Title-card h2{
    color: white;
    text-align: center;
    align-self: center;
    margin-top: 1em;
    margin-bottom: 1em;
}


