.title {
  text-align: center;
  color: white;
  padding: 160px;
  font-size: 70px;
  font-weight: normal;
}

.highlight {
  color: orange;
}

.image {
	width: 100%;
}

img.icon {
  width: 70%;
  display: flex;
  position: relative;
  top: -90px;
  left: 50px;
}

.column {
	flex: 33.33%;
	padding: 15px;
}

.row {
	display: flex;
  justify-content: space-between;
  margin: 0px 100px 0px 100px;

}

.btn {
  background-color: #0193FD;;
  margin: 10px;
  padding: 17px 8px;
  color: hsl(0deg 0% 100%);
	text-align: center;
	margin: auto;
	justify-content: center;
	display: grid;
	font-weight: bold;
	border-radius: 10px;
}

.info {
  border-color: #fcd175;
  border-style: solid;
  border-radius: 10px;
  padding: 30px 50px 30px 50px;
  margin: -100px 50px 30px 50px;
}

.additional {
  color: #3ea0fc;
}

.divide {
  margin-left: 70px;
}

.title2 {
  margin-left: 70px;
  font-weight: bold;
}

.card {
  border-radius: 20px;
  margin-bottom: 50px;
}

.cardTitle {
  font-weight: bold;
  text-decoration: none;
}

.new {
  color: rgb(53, 253, 53);
}