.intro {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6em;
	width: 80%;
}

.info-container {
	position: relative;
	width: max(min(650px, 100%), min(1247px, 90%));
	height: 1800px;
	padding: 33px 0px;
	margin: auto;
	margin-bottom: 62px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	gap: 33px;
	border-radius: 20px;
	background: #a4d7fc;
}

.topIcons,
.progressLine,
.message,
.options,
.more {
	width: calc(100% - 66px);
	height: max(376px, 100%);
	align-self: center;
}

.soldInfo {
	display: inline-block;
	width: calc(100% - 66px);
	align-self: center;
	background: rgba(255, 255, 255, 0.5);
	padding: 30px 80px 30px 80px;
	border-radius: 2em;
}

.leftIcon {
	float: left;
	width: 15%;
	margin-left: 30px;
}

.centerIcon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	padding-top: 20px;
	padding-right: 13em;
}

.message {
	text-align: center;
}

.caseNum,
.listDate,
.transactionDate,
.status,
.agentName {
	display: flex;
	justify-content: space-between;
	font-style: normal;
	font-weight: normal;
	margin-top: 41px;
	font-size: 25px;
	line-height: 34px;
	width: 100%;
	color: #979797;
}

.options {
	width: auto;
	float: left;
	margin-top: 30px;
}

.mailto,
.print,
.pdf {
	margin: 30px 100px 0px 100px;
	font-size: 1.5em;
	color: #0193fd;
}

.question {
	text-align: center;
	float: left;
}

.additionalOptsOne,
.additionalOptsTwo {
	margin: auto;
}

.optOne,
.optTwo,
.optThree,
.optFour {
	float: left;
}

.timeline {
	margin: 50px 60px;
	height: 4px;
}

.timeline-progress {
	width: 0;
	height: 100%;
	background-color: #f4a523;
}

.timeline-items {
	margin-left: -10px;
	margin-right: -10px;
	margin-top: -12px;
	display: flex;
	justify-content: space-between;
}

.timeline-item {
	position: relative;
}

.timeline-item::before {
	content: "";
	width: 20px;
	height: 20px;
	background-color: #ccc;
	display: block;
	border-radius: 100%;
}

.timeline-content {
	position: absolute;
	top: 30px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ddd;
	width: 100px;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
}

.timeline-content::before {
	content: "";
	width: 10px;
	height: 10px;
	background-color: #ddd;
	display: block;
	position: absolute;
	top: -8px;
	margin-left: -2px;
	left: 50%;
	transform: rotate(-45deg) translateX(-50%);
}

.timeline-item.active::before {
	background-color: orange;
}

.timeline-item.active .timeline-content {
	color: #fff;
	background-color: orange;
}

.timeline-item.active .timeline-content::before {
	background-color: orange;
}

.one,
.two,
.three,
.four {
	float: left;
	margin-left: 120px;
	text-align: center;
}

.btn {
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	padding: 20px;
	margin-top: 15px;
}

.btn-lg {
	background-color: #0193fd;
	color: white;
  display: inline-block;
  vertical-align: top;
  margin: 10px 100px 70px 100px;
  padding: 10px 20px;
  width: 250px;
}
