.info-cont {
	margin: 3rem 6rem 2rem;
	display: grid;
	grid-template-columns: repeat (2, 1fr);
	grid-template-rows: repeat (5, 1fr);
}

.info-cont Banner {
	margin-bottom: 1rem;
}

#first-input {
	grid-column: 1 / span 2;
}

.info-input {
	margin: 1rem;
}
