.container {
	border: 1px solid #a4d7fc;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
	border-radius: 20%;

	display: flex;
	flex-direction: column;
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.icon-and-data-section {
	display: flex;
	flex-direction: row;
}
