.card {
    margin-left: 30px;
    margin-right: 30px;
    border-color: rgb(141, 189, 252);
}

.card-title {
	text-decoration: underline;
	text-align: center;
}

.card-subtitle {
	text-align: center;
}

.card-detail {
	text-align: center;
	color: gray;
}

a {
	color: blue;
}

span.check {
	content: "\2713";
	color: rgb(49, 211, 49);
}

.btn {
	color: white;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    display: grid;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
}

.label {
    border-radius: 10px;
    border-style: solid;
    background-color:rgb(144, 201, 250);
    margin-left: 90px;
    margin-right: 90px;
    border-width: thin;
    padding: 10px;
    text-align: center;
    color: rgb(2, 57, 177);
    font-weight: bold;
    border-color: gainsboro;
    box-shadow: 10px 5px 5px gray;
}

.margin {
    border-radius: 10px;
    background-color:white;
    margin-left: 90px;
    margin-right: 90px;
    border-width: thin;
    padding: 22px;
}
