:root {
  --padding: 5rem;
  --transparent: rgba(0,0,0,0);
}

.auth-container {
  display: none;
  position: fixed;
  z-index: 1400;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: var(--padding);
  padding-bottom: var(--padding);
  justify-content: center;
  background: rgba(0,0,0,0.4);
}

.auth-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  background: #fefefe;
  border-radius: 15px;
  overflow-y: scroll;
  overflow-x: hidden;  
}

@media only screen and (max-width: 85em) {
  .auth-content {
    grid-template-columns: 1fr;
  }
}

/* Wave Background */
.auth-bg {
  height: 0;
  min-height: 100%;
  width: 100%;
}

.auth-bg-title {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 76px;
  line-height: 89px;
  text-align: center;
  padding: 60px;

  color: rgba(255, 255, 255, 0.9);
}

/* Login & Register */
.auth-panel {
  height: 100%;
  width: 100%;
}

.auth-pageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em 2em 2em;
}

.auth-welcomeTitle {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 62px;
  margin-bottom: 10px;
}

.auth-tabGrid {
  display: grid;
  grid-template-columns: max-content max-content auto;
  grid-template-rows: max-content max-content max-content;
  row-gap: 0.8em;
  column-gap: 2em;

  border-top: 2px solid black;
  margin-top: 2em;
}

.auth-signInLine, .auth-registerInLine {
  min-height: 0.6em;
  background-color:rgba(244, 165, 35, 0.6);
  border-radius: 15px;
}

.auth-signInText, .authregisterText {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  color: #000000;
  cursor: pointer;
}

.auth-close {
  float: right;
  background: var(--transparent);
  color: #aaaaaa;
  border: none;
  padding: 0.5em;
  cursor: pointer;
  font-size: 28px;
  font-weight: bold;
}

/* 
.auth-close:hover,
.auth-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
} */

