.contentContainer {
  padding: 3em 1.5em 1.5em 1.5em;
}

.authEmail {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 8px;
}

.authPassword {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.signInButton {
  margin-top: 2em;
    margin-bottom: 2em;

}

.forgotPassword {
    text-align: center;
}

.forgotPasswordText {
    color: #3F51F4;
}

.hrLineTwo {
    width: 100%;
    height: 2px;
    background-color:#000000;
    border: none;
    margin-top: 2em;
}

.authSocialText {
    text-align: center;
    margin-top: 4em;
    margin-bottom: 4em;
}

.Warning-Text{
    color: red;
    font-size: small;
}