:root {
  --primary: #F4A523;
  --text: white;
  --transparent: rgba(0,0,0,0);
}

.navbar {
  background: var(--transparent);
  position: absolute;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Actor', sans-serif;
  font-size: 1.2rem;
}

.navbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  width: 100%;
}

.navbar-logo {
  display: flex;
  align-items: center;
  padding: 0 2rem 0 2rem;
  cursor: pointer;

  font-family: "Actor", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  text-decoration: none;
  white-space: nowrap;
  color: white;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  text-align: center;
  width: 100%;
  justify-content: flex-end;
  margin-right: 4rem;
}