.logo-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.logo-one,
.logo-two,
.logo-three {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 0.3em;
	width: 2em;
}

.logo-one {
	background: transparent;
	border-top: 0.3em solid black;
	border-left: 0.3em solid black;
	border-right: 0.3em solid transparent;
}

.logo-two {
	width: 1.3em;
	background: transparent;
	border-top: 0.3em solid orange;
	border-left: 0.3em solid orange;
	border-right: 0.3em solid transparent;
}

.logo-three {
	background: transparent;
	border-top: 0.3em solid white;
	border-left: 0.3em solid white;
	border-right: 0.3em solid transparent;
}
