.sectionWrapper {
    justify-content: center;
}

.content {
    display: flex;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    width: 486px;
    height: 66px;

    background: #FFFFFF;
    border: 1px solid #8A8A8A;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    margin-top: 100px;
    margin-left: 30px;
}

#homeImage {
    width: 923px;
    height: 557px;
}

#registerText {
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    margin-top: 100px;
    margin-left: 55px;
}

#searchText {
    display: flex;
    width: 300px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

    align-items: center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin-right: 100px;
    color: #7B6F6F;
}

#searchIcon {
    line-height: 33px;
    font-size: 36px;
    padding-top: 12px;
    padding-right: 16px;
}

.ellipse1 {
    position: absolute;
    margin-top: 610px;
    margin-left: 1320px;
}