.secondSection {
    z-index: 15;
}

.missionContainer {
    display: flex;
    background: #98D4FF;
    border-radius: 25px;
    height: 15em;
}

.missionText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 3em;
    max-width: 50%;

    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    color: #FFFFFF;
}

.missionPic {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 62px 54px rgba(0, 0, 0, 0.3));
    /* border-radius: 57px 0px 0px 0px; */
    margin-top: -60px;
}

.SRBContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    margin-top: 180px;
}

.sellRentBuyimg {
    /* width: 308px;
    height: 274px; */
}

.sellRentBuyimg:hover {
  transform: scale(1.1);
    /* width: 344px;
    height: 306px; */
}