.sectionContainer {
  width: 100%;
  margin-bottom: 6em;
}

.section {
  display: flex;
  flex-direction: column;
  margin-top: 6em;
    gap: 6em;
}

.textDividerContainer {
    display: flex;
    justify-content: center;
    margin-top: 6em;
    margin-bottom: 6em;
}

.sectionLine {
    height: 1px;
    max-width: 228px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.mainText {
    text-align: center;

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 62px;

    color: #2073F9;
}


/* .firstSectionContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7em;
    margin-top: 5em;
} */

.secondSectionContainer {
    display: flex;
    justify-content: space-between;

    width: 1280px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 64px;
}

.thirdSectionContainer {
    display: flex;
    justify-content: space-between;

    width: 1280px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 64px;
}

.chatIcon {
    position: absolute;
    right: 0px;

    width: 5em;
}

.chatIcon:hover {
    cursor: pointer;
}