.sectionContainer {
    margin-top: 550px;
    margin-bottom: 120px;
}

.section {
    margin-top: 120px;
}

.textDividerContainer {
    display: flex;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.sectionLine {
    height: 1px;
    max-width: 228px;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.mainText {
    text-align: center;

    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 62px;

    color: #2073F9;
}

.firstSectionContainer {
    display: flex;
    justify-content: space-between;

    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
}

.secondSectionContainer {
    display: flex;
    justify-content: space-between;

    width: 1280px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 64px;
}

.thirdSectionContainer {
    display: flex;
    justify-content: space-between;

    width: 1280px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 64px;
}