:root {
  --primary: #F4A523;
  --text-color: black;
  --transparent: rgba(0,0,0,0);
  --border: 20px;
  --shadow: rgba(0, 0, 0, 0.5);
  --section-title-size: 38px;
  --section-title-style: normal;
  --section-title-weight: bold;
  --paragraph-size: 24px;
  --paragraph-style: normal;
  --paragraph-weight: 500;
}

.section1-container  {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: black;
}

/* why-grid */
.why-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
  gap: 4rem;
}

.why-info h2 {
  display: block;
  justify-self: center;
  align-self: center;
  place-self: center;
  font-size: var(--section-title-size);
  font-style: var(--section-title-style);
  font-weight: var(--section-title-weight);
}

.why-info p {
  white-space: pre-line;
  margin: 2rem 0 2rem 0;
  font-size: var(--paragraph-size);
  font-style: var(--paragraph-style);
  font-weight: var(--paragraph-weight);
}

.why-image {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1100px) {
  .why-grid {
    grid-template-columns: 1fr;
  }
  .why-image {
    display: none;
  }
}

/* divider-grid */
.section1-container .divider-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-right: 4rem;
  padding-left: 4rem;
  gap: 4rem;
}

.section1-container .divider {
  background: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 15px;
  height: 11px;
  width: 80%;
}

.section1-container .divider-image {
  width: 100%;
  height: auto;
  margin: 1rem 2rem 1rem 2rem;
}