:root {
	--primary: #f4a523;
	--text-color: black;
	--wrapper-border-radius: 15px;
	--wrapper-grey-transparent: rgba(0, 0, 0, 0.4);
	--section-title-size: 38px;
	--section-header-size: 48px;
	--section-title-style: normal;
	--section-title-weight: bold;
	--paragraph-size: 24px;
	--paragraph-style: normal;
	--paragraph-weight: 500;
	--page-padding: 4em;
}

.section3-container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	width: 100%;
}

/* How Section */
.how-wrapper {
	display: flex;
	flex-direction: column;
	/* margin-right: var(--page-padding);
  margin-left: var(--page-padding); */
	background: url("./assets/image 49.png") var(--wrapper-grey-transparent);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: var(--wrapper-border-radius);
	color: white;
}

.how-wrapper h1 {
	font-size: var(--section-header-size);
	font-style: var(--section-title-style);
	font-weight: var(--section-title-weight);
}

.how-title {
	justify-self: center;
	align-self: center;
	margin: 8rem 4rem 4rem 4rem;
}

.how-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	padding: 4rem;
	gap: 2rem;
}

.how-card {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	gap: 2rem;
}

.how-card h2 {
	font-size: var(--section-title-size);
	font-style: var(--section-title-style);
	font-weight: var(--section-title-weight);
}

.how-card-image {
	max-width: 100%;
	height: auto;
}

/* divider-grid */
.section3-container .divider-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	padding: 8rem 4rem 8rem 4rem;
	gap: 4em;
}

.section3-container .divider {
	background: var(--primary);
	border: 2px solid var(--primary);
	border-radius: 1em;
	min-height: 0.6em;
	width: 80%;
}
