h1.heading {
	color: white;
	font-size: 64px;
	padding-left: 5%;
	margin-top: 2em;
	margin-bottom: 1em;
	font-weight: bold;
}

h2.heading {
	width: fit-content;
	margin: 0.7em 0 0.7em 2em;
}

h2.heading::after {
	content: '';
	display: block;
	width: 6em;
	height: 0.2em;
	margin-top: 0.4em;
	background-color: #98d4ff;
	border-radius: 0.2em;
}

#upgrade {
	display: block;
	margin: 1.2em auto 0.7em auto;
	padding: 0.5em 8.5em;
	width: fit-content;
	color: #000000;
	background-color: #ffffff;
	border: 1px solid #f4a523;
	border-radius: 1em;
	box-shadow: 0px 4px 4px #00000040;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}

#settings {
	display: flex;
	justify-content: space-around;
	width: 85%;
	margin: 4em auto;
	gap: 2em;
}

#settings > div {
	width: 100%;
}

#settings button {
	border: 1px solid #a4d7fc;
	width: 100%;
	height: 100%;
	padding: 0.55em 1.5em;
	color: white;
	border-radius: 1em;
	background-color: #0193fd;
	box-shadow: 0px 4px 4px #00000080;
	font-size: 1.2em;
	font-weight: bold;
}

.settingsNotification {
	float: right;
	margin-top: -3.4em;
	width: 3.4em;
	height: 3.4em;
	background: linear-gradient(to bottom, #6cbeff, #6cbeff00);
	border: 1px solid #f4a523;
	border-radius: 50%;
	box-shadow: 0px 4px 4px #00000040;
	transform: translate(0.8em, 1.6em);
}

.settingsNotification > * {
	paint-order: stroke;
	filter: drop-shadow(0px 3px 3px #00000040);
}