.ttttsss {
  /* background-color: chartreuse; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.tttt222 {
  flex: 1;
  height: auto;
  width: 100%;
}

.tttt333 {
  flex: 1;
  height: auto;
  width: 100%;
}