.listingBox {
    display: flex;
    flex-direction: column;
    width: 336px;
    height: 417px;
    
    border: 1px solid #9E9393;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.listingBox:hover {
    border: 4px solid #FFD700;
    border-radius: 5% 5% 5% 5%;
}

.listingBox:hover .cardImg {
    border-bottom: 4px solid #FFD700;
}

.listingBoxContainer {
    text-decoration: none;
}

.listingTitle {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.427179px;
    
    color: #000000;

    max-width: 270px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 12px;
}

.listingStats {
    display: flex;

    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: -0.427179px;
    
    color: #000000;

    max-width: 270px;
    margin-left: auto;
    margin-right: auto;

    padding-top: 12px;
}

.listingPrice {
    padding-right: 17px;
}

.listingDivider {
    position: relative;
    top: -3px;
}

.listingStatus {
    padding-left: 17px;
    color: #38CD3E;
}

.listingInfo {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
}

.listingInfoText {
    display: flex;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.427179px;

    color: #000000;

    padding-top: 13px;
}

.listingIcon {
    padding-right: 6px;
    padding-top: 1px;
}