.navbar-container {
    margin: auto;
}

.pictureContainer {
	position: relative;
	width: 20em;
	aspect-ratio: 1 / 1;
	background-color: #f5f5f5;
	border-radius: 1em;
	box-shadow: 0px 4px 4px #0000003f;
}

.pictureContainer > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 1em;
}

.editPicture {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 5em;
	aspect-ratio: 1 / 1;
	background-color: #a4d7fc;
	border: 1px solid #f4a523;
	border-radius: 50%;
	box-shadow: 0px 4px 4px #0000003f;
	cursor: pointer;
	transform: translateX(3em);
}

.editPicture input {
	opacity: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	cursor: pointer;
}

.editPicture img {
	position: absolute;
	left: auto;
	right: 0;
	transform: translate(-1em, 1em);
	pointer-events: none;
}  

.vector-1 {
    position: absolute;
    width: 100%;
    margin-top: -25px;
    z-index: -1;
}

.vector-3 {
    position: absolute;
    width: 110%;
    z-index: -2;
}

.vector-4 {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    z-index: -3;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px #000000;
}

.picture-container {
    display: flex;
    justify-content: center;
    width: 426px;
    margin: auto;
    align-items: center;
    margin-bottom: 214px;
    margin-top: 50px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
}


.info-container {
    width: 1247px;
    height: 2753px;
    margin: auto;
    margin-bottom: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    
    background: rgba(203, 233, 255, 0.5);
}

.personal-information, .sign-in-security, .manage-account, .deleted-searches, .bidded-properties, .loans-financing {
    width: 1184px;
    height: 376px;
    align-self: center;
    margin-bottom: 33px;
    background: rgba(255, 255, 255, 0.5);    
}

.info-heading {
    width: 347px;
    height: 48px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    margin-top: 32px;
    margin-left: 31px;
    font-size: 35px;
    line-height: 48px;
    color: #000000;
}

.name, .username, .reviews, .email, .password, .google, .deactivate, .privacy-cookies, .other-accounts {
    display: flex;
    justify-content: space-between;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    margin-top: 41px;
    font-size: 25px;
    line-height: 34px;
    width: 1100px;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    color: #0193FD;
} 
button:hover {
    color: #800080;
}

.notifications {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    line-height: 48px;
    color: #000000;
    width: 1100px;
    margin-left: 60px;
    margin-bottom: 40px;
}

.notifications-button {
    color: #000000;
    border: none;
    background: none;
    cursor: pointer;
}

.notifications-button:hover {
    color: #0193FD;
}

.more{
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    margin-bottom: 30px;
}

.more-button{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 34px;
    /* identical to box height */
    color: #FD3801;
    border: none;
    background: none;
    cursor: pointer;
}
.more-button:hover {
    color: #000000;
}

.gears-big {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 310px;
    top: 2411px;
    z-index: -1;
}