.navbar-container {
    margin: auto;
}

.vector-1 {
    position: absolute;
    width: 100%;
    margin-top: -25px;
    z-index: -1;
}

.vector-3 {
    position: absolute;
    width: 110%;
    z-index: -2;
}

.vector-4 {
    position: absolute;
    width: 100%;
    margin-top: 50px;
    z-index: -3;
}


.heading {
    width: 496px;
    height: 87px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 87px;
    
    color: #FFFFFF;
    
    text-shadow: 0px 4px 4px #000000;
}

.info-container {
    width: 1247px;
    height: 2753px;
    /* margin-right: 97px;
    margin-left: 97px; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    
    background: rgba(203, 233, 255, 0.5);
}

.personal-information, .sign-in-security, .manage-account, .deleted-searches, .bidded-properties, .loans-financing {
    width: 1184px;
    height: 376px;
    align-self: center;
    margin-bottom: 33px;
    background: rgba(255, 255, 255, 0.5);    
}

.info-heading {
    width: 347px;
    height: 48px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    margin-top: 32px;
    margin-left: 31px;
    font-size: 35px;
    line-height: 48px;
    /* identical to box height */
    
    
    color: #000000;
}

.gears-big {
    position: absolute;

    width: 300px;
    height: 300px;
    left: 310px;
    top: 2411px;
    z-index: -1;
}