.wave-wrapper {
  position: relative;
  display: flex;
  min-height: 90vh;
  max-width: 100%;
  overflow: hidden;
  background: linear-gradient(260.28deg, #0193FD 0%, #3F51F4 96.58%);
  text-align: center;
}

.custom-shape-divider-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: 3;
}

.custom-shape-divider-bottom svg {
  aspect-ratio: 1200/400;
}

.custom-shape-divider-bottom .shape-fill {
  fill: #FFFFFF;
}

.heroImage--center {
  margin-bottom: -25vh;
  margin-left: 5em;
  align-self: center;
}

/* .heroImage--end {
  position: absolute;
  left: 1;
  right: 0;
  bottom: 0;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 10vh;
  z-index: 2;
} */

.wave-title {
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 2.2em;
  z-index: 4;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
  color: white;
}

.wave-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5em;
  margin-top: 6em;
  margin-bottom: 10em;
}