.estack-logo {
	position: absolute;
	width: 139px;
	height: 46px;
	left: 32px;
	top: 45px;
}

.user-icon {
	position: absolute;
	width: 68px;
	height: 72px;
	right: 42px;
	top: 17px;
}

.navbar-option {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	padding: 4%;
}

.white-color {
	color: white;
}

.open-sans {
	font-family: "Open Sans", sans-serif;
}

.dm-sans {
	font-family: "DM Sans", sans-serif;
}

.lato {
	font-family: "Lato", sans-serif;
}

.navbar-options {
	display: flex;
	justify-content: center;
	padding-bottom: 14%;
}

.extra-large-text {
	font-size: 64px;
}

.bold-text {
	font-weight: bold;
}

.large-text {
	font-size: 48px;
}

.medium-text {
	font-size: 38px;
}

.small-text {
	font-size: 24px;
}

.full-width {
	width: 100%;
}

.small-padding-vertical {
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

.small-padding-horizontal {
	padding-left: 2.5%;
	padding-right: 2.5%;
}

.medium-padding-left {
	padding-left: 5%;
}

.medium-padding-right {
	padding-right: 5%;
}

.medium-padding-horizontal {
	padding-left: 5%;
	padding-right: 5%;
}

.medium-padding-vertical {
	padding-top: 5%;
	padding-bottom: 5%;
}

.small-padding {
	padding: 2.5%;
}

.medium-padding {
	padding: 5%;
}

.small-margin {
	margin: 2.5%;
}

.medium-margin {
	margin: 5%;
}

.small-margin-horizontal {
	margin-left: 2.5%;
	margin-right: 2.5%;
}

.medium-padding-bottom {
	padding-bottom: 5%;
}

.large-padding-top {
	padding-top: 7.5%;
}

.large-padding-bottom {
	padding-bottom: 7.5%;
}

.medium-padding-top {
	padding-top: 5%;
}

.medium-margin-horizontal {
	margin-left: 5%;
	margin-right: 5%;
}

.half-width {
	width: 50%;
}

.center-text {
	text-align: center;
}

.flex {
	display: flex;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.flex-center > p {
	text-align: center;
}

.flex-main-center {
	justify-content: center;
}

.column-flex {
	flex-direction: column;
}

.row-flex {
	flex-direction: row;
}

.flex-end {
	justify-content: flex-end;
}

.blue-border-box {
	background: #ffffff;
	border: 5px solid #0193fd;
	box-sizing: border-box;
	border-radius: 28px;
}

.blue-border-box > h2 {
	margin-bottom: 0em;
	padding-bottom: 0em;
}

.small-space {
	width: 100%;
	height: 24px;
}

.large-space {
	width: 100%;
	height: 64px;
}

.test {
	background-color: red;
}

.email-input {
	position: absolute;
	outline: none;
	width: 100%;
	background: #ffffff;
	border: 1px solid #8a8a8a;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	line-height: 2em;
	font-size: 2em;
}

.address-input {
	outline: none;
	background: #ffffff;
	border: 1px solid #8a8a8a;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	width: 100%;
	padding-left: 0.6em;
	line-height: 2em;
	font-size: 2em;
	position: relative;
	left: 2.5%;
}

.address-input::placeholder {
	font-size: 0.75em;
	font-family: "Open Sans", sans-serif;
	color: #7b6f6f;
}

.email-input::placeholder {
	font-size: 0.75	em;
	font-family: "Open Sans", sans-serif;
	color: #7b6f6f;
}

.address-input:focus::placeholder,
.email-input:focus::placeholder {
	color: transparent;
}

.email-input-submit-button {
	position: relative;
	width: 70%;
	margin: auto;
}

.email-input-submit-button > p {
	position: absolute;
	right: 0.5em;
	line-height: 2.2em;
	font-size: 2em;
	font-weight: bold;
}

.about-photo-1 {
	object-fit: contain;
	width: 85%;
	height: auto;
}

.why-join-us-container {
	background: #a4d7fc;
	border-radius: 30px;
	width: 95%;
}

.how-can-we-help-you-background {
	background-image: url("./assets/how-can-we-help-you-background.svg");
	background-repeat: no-repeat;
	background-size: cover;
}

.explore-our-options-background {
	background-image: url("./assets/explore-our-options-background.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.photos-container {
	justify-content: space-evenly;
}

.photos-container > a {
	transition: transform ease-in-out 0.3s;
}

.photos-container > a:hover {
	transform: scale(1.025);
}

.small-border-radius {
	border-radius: 15px;
}

.search-icon {
	position: absolute;
	right: 0em;
	height: 80%;
	top: 10%;
}

@media screen and (max-width: 500px) {
	.full-width-when-small {
		width: 100%;
	}

	.wrap-column-when-small {
		flex-direction: column;
	}
}