:root {
	--primary: #f4a523;
	--text-color: black;
	--wrapper-border-radius: 15px;
	--wrapper-grey-transparent: rgba(0, 0, 0, 0.4);
	--section-title-size: 38px;
	--section-header-size: 48px;
	--section-title-style: normal;
	--section-title-weight: bold;
	--paragraph-title-size: 30px;
	--paragraph-size: 24px;
	--paragraph-style: normal;
	--paragraph-weight: 500;
	--page-padding: 4em;
}

/* Options Section */
.section4-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.options-header {
	justify-self: center;
	align-self: center;
	margin: 0 var(--page-padding) 0 var(--page-padding);

	font-size: var(--section-header-size);
	font-style: var(--section-title-style);
	font-weight: var(--section-title-weight);
}

.options-wrapper {
	display: flex;
	flex-direction: column;
	background: url("./assets/image 45.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: var(--wrapper-border-radius);
	justify-content: center;
	align-items: center;
	margin-top: var(--page-padding);
	padding: 20em 5em 20em 5em;
	min-height: 40em;
	gap: 5em;
}

.options-paragraph {
	font-size: var(--paragraph-title-size);
	font-style: var(--paragraph-style);
	font-weight: var(--paragraph-weight);
}

.options-search-wrapper {
	display: flex;
	justify-content: center;
	min-width: 60%;
}

.options-searchBar {
	border: 1px solid #00b4cc;
	border-right: none;
	border-radius: 1em 0 0 1em;
	height: 100%;
	width: 100%;
	background: #ffffff;
	margin: 0;
	padding: 1em;
	outline: none;
	font-size: 1.5rem;
	box-shadow: none;
}

.options-searchButton {
	border: 1px solid #00b4cc;
	border-left: none;
	border-radius: 0 2em 2em 0;
	min-height: 100%;
	background: #ffffff;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	padding: 1em;
}
